import(rscala)
import(commonsMath)
import(stats)

importFrom("grDevices", "heat.colors", "rainbow", "topo.colors")
importFrom("graphics", "abline", "axis", "box", "image", "pairs", "par", "points", "polygon", "segments", "text")
importFrom("utils", "capture.output")

export(adj.rand.index)
export(mass)
export(discount)
export(permutation)
export(temperature)
export(decay.reciprocal)
export(decay.exponential)
export(decay.subtraction)
export(attraction)
export(ewens)
export(ewens.pitman)
export(ewens.attraction)
export(ewens.pitman.attraction)
export(ddcrp)
export(pairwise.probabilities)
export(estimate.partition)
export(confidence)
export(nsubsets.random)
export(nsubsets.probability)
export(nsubsets.average)
export(nsubsets.variance)
export(sample.partition)
export(process.partition)

S3method("print", "shallot.mass")
S3method("print", "shallot.discount")
S3method("print", "shallot.permutation")
S3method("print", "shallot.temperature")
S3method("print", "shallot.decay")
S3method("print", "shallot.attraction")
S3method("print", "shallot.distribution.ewens")
S3method("print", "shallot.distribution.ewensPitman")
S3method("print", "shallot.distribution.ewensAttraction")
S3method("print", "shallot.distribution.ewensPitmanAttraction")
S3method("print", "shallot.distribution.ddcrp")
S3method("print", "shallot.samples.raw")
S3method("print", "shallot.pairwiseProbability")

S3method("as.matrix", "shallot.attraction")
S3method("as.matrix", "shallot.pairwiseProbability")

S3method("plot", "shallot.confidence")

